:root {
  --color-primary: #622b10;
  --color-secondary: #e35d6a;
  --color-accent: #0d6efd;
  --color-highlight: #9EABF2;
  --color-success: #28a745;

  --brown: var(--color-primary);
  --pink: var(--color-secondary);
  --blue: var(--color-accent);
  --lightBlue: var(--color-highlight);
  --green: var(--color-success);
}

@font-face {
  font-family: 'Noto Sans TC';
  src: url('/assets/fonts/NotoSansTC/NotoSansTC-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@mixin mediaMax($max) {
  @media (max-width: #{$max}px) {
    @content;
  }
}

@mixin mediaMin($min) {
  @media (min-width: #{$min}px) {
    @content;
  }
}

@mixin mediaBetween($min, $max) {
  $minValue: if(type-of($min)=='string', map-get($breakpoints, $min), $min);
  $maxValue: if(type-of($max)=='string', map-get($breakpoints, $max), $max);

  @media (min-width: #{$minValue}px) and (max-width: #{$maxValue}px) {
    @content;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 15px;
  line-height: 1;

  * {
    box-sizing: border-box;
  }
}

*::before,
*::after {
  margin: 0;
  font-weight: normal;
}

#app {
  display: flex;
  min-height: 100vh;

  .control_panel {
    width: 400px;
    border-right: 1px #ddd solid;
    height: 100vh;
  }

  .cus_select {
    select {
      border: 1px #ddd solid;
      height: 38px;
      display: inline-block;
      padding: 0 10px;
      font-size: 15px;
    }
  }

  .container {
    flex: 1;
    min-height: 100vh;

    .content_wrap {
      width: 100%;
      max-width: 800px;
    }

    .select_date {
      display: flex;
      justify-content: center;
      gap: 8px;
      margin-bottom: 20px;

      .switch {
        padding: 0 10px;
        height: 38px;
        border: 1px #ddd solid;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eee;
        cursor: pointer;
        margin-left: auto;
      }
    }

    #calendar {
      width: 100%;
      border: 1px var(--brown) solid;
      color: var(--brown);

      .week,
      .days {
        width: 100%;
        display: flex;
        align-items: center;

        .cell {
          width: calc(100%/7);
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;

          &+.cell {
            border-left: 1px var(--brown) solid;
          }
        }
      }

      .week {
        .cell {
          height: 36px;
          border-bottom: 1px var(--brown) solid;
          font-weight: bold;
        }
      }

      .days {
        .cell {
          position: relative;
          aspect-ratio: 1/1.1;

          @include mediaMax(576) {
            aspect-ratio: 1/1.3;

            .time_slot {
              gap: 2px;
              padding-left: 10px;

              span {
                font-size: 10px;
              }
            }
          }

          .day_label {
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 12px;
            font-weight: 500;
          }

          .time_slot {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            gap: 3px;
            padding-top: 10px;

            .booked {
              text-decoration: line-through;
              opacity: .6;
            }
          }

          &.disabled {
            .time_slot {
              display: none;
            }
          }

          &.isPast {
            .day_label {
              opacity: .4;
            }

            .time_slot {
              display: none;
            }
          }

          &.isOffday {

            &:before {
              content: 'ä¼‘';
              display: flex;
              width: 50px;
              height: 50px;
              background: var(--pink);
              border: 1px var(--pink) solid;
              border-radius: 50%;
              align-items: center;
              justify-content: center;
              color: #fff;
              font-size: 24px;
              font-weight: 500;
            }

            .time_slot {
              display: none;
            }

            .day_label {
              color: #fff;
            }
          }
        }

        &+.days {
          border-top: 1px var(--brown) solid;
        }
      }
    }
  }

  .drop_back {
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .light_box {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    &.time_slot_picker {
      z-index: 100;

      .inner {
        .content {
          .content_inner {
            justify-content: center;
          }
        }
      }
    }

    .inner {
      background: #fff;
      position: relative;
      z-index: 11;
      width: 100%;
      width: 320px;
      max-width: 90%;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);

      .title {
        font-size: 18px;
        font-weight: 500;
        padding: 12px 20px;
        border-bottom: 1px #ddd solid;
        display: flex;
        align-items: center;
        position: relative;

        .set_as_offday,
        .set_as_holiday,
        .add_time_slot {
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #eee;
          border: 1px #ddd solid;
          cursor: pointer;
          text-align: center;
          font-size: 14px;
        }

        .set_as_offday {
          margin-left: 8px;

          &.active {
            background: var(--pink);
            color: #fff;
            border-color: var(--pink);
          }
        }

        .set_as_holiday {
          margin-left: 4px;

          &.active {
            background: var(--brown);
            color: #fff;
            border-color: var(--brown);
          }
        }

        .add_time_slot {
          margin-left: 4px;
          background: var(--blue);
          border-color: var(--blue);
          color: #fff;
        }

        .close_btn {
          position: absolute;
          width: 16px;
          height: 16px;
          right: 20px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          cursor: pointer;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 100%;
            background-color: #333;
          }

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 2px;
            background-color: #333;
          }
        }

        .icon {
          content: '';
          display: inline-block;
          width: 26px;
          height: 26px;
          background: url(/assets/images/canlender.png) no-repeat center center;
          background-size: cover;
          margin-right: 8px;
        }
      }

      .content {
        padding: 20px;

        .content_inner {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          gap: 6px;

          .time_slot {
            width: calc(25% - 4.5px);
            position: relative;

            .time_slot_inner {
              display: block;
              text-align: center;
              padding: 10px 0;
              border: 1px #ddd solid;
              cursor: pointer;

              &.booked {
                background-color: var(--lightBlue);
                color: #fff;
                border-color: var(--lightBlue);
              }

              &.disabled {
                background-color: #f5f5f5;
                color: #999;
                border-color: #eee;
                cursor: not-allowed;
              }
            }

            .delete {
              position: absolute;
              width: 12px;
              height: 12px;
              background: #999;
              top: 0;
              right: 0;

              &:hover {
                background: var(--pink);
              }

              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                width: 1px;
                height: 100%;
                background-color: #fff;
              }

              &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%) rotate(45deg);
                width: 100%;
                height: 1px;
                background-color: #fff;
              }
            }
          }
        }
      }

      .bottom {
        padding: 7px 20px;
        border-top: 1px #ddd solid;
        display: flex;
        justify-content: center;

        button {
          background: var(--green);
          border: 1px var(--green) solid;
          padding: 0 15px;
          height: 36px;
          border-radius: 18px;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 8px;

    button {
      border: 1px #ccc solid;
      background: #eee;
      height: 40px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 15px;

      @include mediaMax(576) {
        height: 32px;
        padding: 0 15px;
      }

      &.export_to_png {
        background: var(--green);
        border-color: var(--green);
        color: #fff;
      }
    }
  }
}